body {
  min-width: 375px;
  margin: 0;
  padding: 0;
  font-family: Montserrat, Arial, sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 70px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__lang {
  display: none;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  position: absolute;
  width: 98px;
  height: 37px;
  margin-left: 29px;
  margin-top: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: .07em;
  color: #fff;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 70px;
  height: 70px;
  background: #f5f5f3;
  cursor: pointer;
}

.header__burger {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: auto;
}

.header__burger-line {
  display: block;
  width: 26px;
  height: 3px;
  background: #000;
}

.header__burger-line:first-of-type {
  margin-bottom: 5px;
}

.up-section__btn_else,
.up-section__btn_offer {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
}

.up-section__btn .up-section__btn_else {
  width: 203px;
  height: 30px;
  padding-top: 14px;
  padding-right: 5px;
  border: 1.5px solid #000;
  text-align: center;
  justify-content: center;
}

.up-section__btn_else:hover {
  background-color: #eeddd0;
}

.up-section {
  position: relative;
  width: 100%;
}

.up-section__title {
  position: relative;
  z-index: 10;
  padding-left: 26px;
  margin-top: -165px;
  font-weight: bold;
  line-height: 51px;
  font-size: 50px;
}

.up-section__description,
.up-section__contacts {
  display: none;
}

.up-section__images {
  z-index: -10;
  height: 529px;
  overflow: hidden;
}

.up-section__collection-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0 -55px;
  object-position: 0 -55px;
}

.up-section__desription {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 13px;
  color: #000;
}

.up-section__scrooll {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  width: 27px;
  height: 46px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.middle-section {
  min-height: 281px;
  padding-bottom: 51px;
  background: #fae8e4;
}

.middle-section__img {
  margin-top: 14px;
}

.middle-section__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.middle-section__clutch {
  padding: 15px 30px;
  margin: 0 28px 0;
  background: #fff;
  -webkit-box-shadow: 11px 25px 40px -34px rgba(0, 0, 0, .8);
  box-shadow: 11px 25px 40px -34px rgba(0, 0, 0, .8);
}

.middle-section__title,
.middle-section__subtitle {
  margin: 0;
  margin-top: 3px;
}

.middle-section__description {
  margin-top: 13px;
  line-height: 21px;
  opacity: .5;
}

.middle-section__btn {
  width: 203px;
  height: 30px;
  display: flex;
  border: 1.5px solid #000;
  text-align: center;
  justify-content: center;
}

.quantity {
  display: none;
}

.middle-section__form-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 133px;
  height: 30px;
  padding: 0;
  margin-top: 5px;
}

.form__colors-btn {
  display: none;
}

.form__colors-item {
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
}

.form__colors-item::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 0;
  display: block;
  width: 23px;
  height: 23px;
  background: #dedede;
  border-radius: 50%;
  cursor: pointer;
}

.form__colors-item:nth-of-type(2)::before {
  background: #f29f9f;
}

.form__colors-item:nth-of-type(3)::before {
  background: #a8bff9;
}

.form__colors-item:nth-of-type(4)::before {
  background: #90bd8f;
}

input[type="radio"]:checked + .form__colors-item::before {
  left: 0;
  width: 29px;
  height: 29px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translate(0, -9%);
  -ms-transform: translate(0, -9%);
  transform: translate(0, -9%);
}

.middle-section__colors-and-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  height: 46px;
  min-width: 250px;
  margin-bottom: 22px;
}

.middle-section__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}

.middle-section__order-item {
  width: 256px;
  padding-top: 9px;
  padding-bottom: 26px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  border: 1.5px solid #000;
}

.middle-section__price {
  margin: 0;
  margin-right: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

.middle-section__subtitle {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: .07em;
  color: #000;
  opacity: .5;
}

button {
  background: none;
}

.middle-section__btn,
.middle-section__link {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.middle-section__btn:hover {
  cursor: pointer;
  background-color: #fae8e4;
}

.middle-section__title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

.middle-section__desription {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 13px;
  color: #000;
  opacity: .5;
}

.bottom-section {
  position: relative;
  padding: 33px 12px;
  background: -webkit-gradient(linear, left top, right top, color-stop(27%, #ebe3d8), color-stop(27%, #000), color-stop(38%, #000), color-stop(38%, #ebe3d8));
  background: -webkit-linear-gradient(left, #ebe3d8 27%, #000 27%, #000 38%, #ebe3d8 38%);
  background: -o-linear-gradient(left, #ebe3d8 27%, #000 27%, #000 38%, #ebe3d8 38%);
  background: linear-gradient(to right, #ebe3d8 27%, #000 27%, #000 38%, #ebe3d8 38%);
}

.bottom-section__image {
  z-index: -50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bottom-section__img {
  width: 100%;
  -webkit-box-shadow: -11px 25px 40px -34px rgba(0, 0, 0, .8);
  box-shadow: -11px 25px 40px -34px rgba(0, 0, 0, .8);
}

.bottom-section__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.bottom-section__block {
  z-index: 50;
  position: relative;
  top: -24px;
  margin-left: 32px;
  margin-right: 14px;
  padding: 20px 25px;
  background: #fae8e4;
}

.bottom-section__title,
.bottom-section__subtitle {
  margin-bottom: 0;
  margin-top: 5px;
}

.bottom-section__description {
  margin-bottom: 22px;
  opacity: .5;
}

.bottom-section__link {
  position: relative;
  width: 138px;
  padding-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: normal;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.bottom-section__arrow {
  cursor: pointer;
  position: relative;
}

.bottom-section__arrow div {
  position: relative;
  width: 108px;
  height: 2px;
  background-color: #000;
  display: block;
}

.bottom-section__arrow div::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 1px;
  top: -3px;
  right: 0;
  background-color: #000;
  transform: rotate(45deg);
}

.bottom-section__arrow div::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 1px;
  top: 4px;
  right: 0;
  background-color: #000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);
}

.bottom-section__btn {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: 1.5px solid #000;
  width: 256px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.footer {
  display: none;
}

@media (min-width: 1400px) {
  .middle-section__link {
    right: 78px;
    bottom: 121px;
    text-decoration: none;
    color: #000;
  }

  .bottom-section__image {
    margin-left: 48px;
    margin-right: 36%;
  }

  .bottom-section__img {
    margin-bottom: 141px;
  }

  .bottom-section__block {
    top: 28%;
    padding-left: 43px;
    padding-right: 57px;
    margin-right: 7%;
    margin-left: 57%;
  }

  .bottom-section__title {
    margin-top: 11px;
    margin-bottom: 10px;
  }

  .bottom-section__subtitle {
    margin-bottom: 18px;
  }

  .bottom-section__description {
    margin-bottom: 55px;
    margin-left: 4px;
    margin-right: 10px;
  }

  .bottom-section__link {
    right: 10%;
    bottom: 27%;
  }
}

@media (min-width: 1300px) {
  .middle-section {
    padding-right: 73px;
    padding-bottom: 137px;
    margin: 0;
  }

  .middle-section__image {
    margin-top: 128px;
    margin-right: 42px;
    margin-left: 100px;
  }

  .middle-section__link {
    right: 6%;
    text-decoration: none;
  }
}

@media (min-width: 1250px) {
  .bottom-section {
    background: -webkit-gradient(linear, left top, right top, color-stop(27%, #ebe3d8), color-stop(27%, #000), color-stop(32%, #000), color-stop(32%, #ebe3d8));
    background: -webkit-linear-gradient(left, #ebe3d8 27%, #000 27%, #000 32%, #ebe3d8 32%);
    background: -o-linear-gradient(left, #ebe3d8 27%, #000 27%, #000 32%, #ebe3d8 32%);
    background: linear-gradient(to right, #ebe3d8 27%, #000 27%, #000 32%, #ebe3d8 32%);
  }
}

@media (min-width: 992px) {
  .header {
    min-height: 92px;
  }

  .header__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 461px;
    background: #000;
    padding: 0;
    margin: 0;
  }

  .header__logo {
    margin-top: 42px;
    margin-left: 55px;
  }

  .header__lang {
    position: relative;
    display: block;
    width: 50px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-right: 22px;
    margin-top: 20px;
  }

  .header__lang-option {
    position: absolute;
    width: 31px;
    height: 25px;
    left: 388px;
    top: -10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    text-decoration: none;
    color: #fff;
  }

  .header__lang-option:hover {
    border-bottom: solid 2px #eeddd0;
  }

  .header__lang-option::after {
    position: absolute;
    top: 3px;
    left: 45px;
    display: block;
    content: '';
    width: 7px;
    height: 6px;
    border: 2px solid #fff;
    border-right-color: transparent;
    border-top-color: transparent;
    -webkit-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
  }

  .header__lang-option:hover::after {
    transform: rotate(135deg);
  }

  .header__menu {
    width: 92px;
    height: 92px;
  }

  .header__menu:hover {
    background-color: #eeddd0;
  }

  .header__burger-line {
    width: 35px;
    height: 4px;
  }

  .header__burger-line:first-of-type {
    margin-bottom: 5px;
  }

  .up-section__desription {
    line-height: 21px;
    font-size: 15px;
    font-weight: normal;
  }

  .up-section__collection-description {
    width: 475px;
    margin-left: 45px;
  }

  .up-section__title {
    padding-left: 10px;
    margin-top: 108px;
    margin-bottom: 2px;
    width: 475px;
    height: 164px;
    font-weight: bold;
    line-height: 82px;
    font-size: 80px;
  }

  .up-section {
    background: -webkit-linear-gradient(left, #000 461px, #fff 460px);
    background: -o-linear-gradient(left, #000 461px, #fff 460px);
    background: linear-gradient(to right, #000 461px, #fff 460px);
  }

  .up-section__collection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
  }

  .up-section__images {
    z-index: 10;
    height: 562px;
    margin-top: 77px;
  }

  .up-section__collection-image img {
    width: 549px;
    height: 562px;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }

  .up-section__description,
  .up-section__contacts {
    display: inline-block;
  }

  .up-section__description {
    padding-left: 9px;
    line-height: 21px;
  }

  .up-section__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 470px;
    margin-top: 23px;
    text-decoration: none;
    color: #000;
  }

  .up-section__btn .up-section__btn_offer {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    width: 232px;
    padding-top: 14px;
  }

  .up-section__btn_offer:hover {
    transform: scale(1.1);
  }

  .up-section__arrow {
    cursor: pointer;
    position: relative;
    bottom: 15px;
  }

  .up-section__arrow div {
    position: relative;
    top: 20px;
    width: 60px;
    height: 2px;
    background-color: #000;
    display: block;
  }

  .up-section__arrow div::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 1px;
    top: -3px;
    right: 0;
    background-color: #000;
    transform: rotate(45deg);
  }

  .up-section__arrow div::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 1px;
    top: 4px;
    right: 0;
    background-color: #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }

  .up-section__scrooll {
    bottom: 39px;
    width: 27px;
    height: 46px;
  }

  .up-section__scrooll:hover {
    transform: scale(1.05);
  }

  .up-section__contacts {
    margin-top: 69px;
    margin-bottom: 21px;
    margin-left: 12px;
  }

  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 153px;
    list-style: none;
  }

  .social__item:hover {
    transform: scale(1.05);
  }

  .middle-section__arrow {
    cursor: pointer;
    position: relative;
  }

  .middle-section__arrow div {
    position: relative;
    width: 108px;
    height: 2px;
    background-color: #000;
    display: block;
  }

  .middle-section__arrow div::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 1px;
    top: -3px;
    right: 0;
    background-color: #000;
    transform: rotate(45deg);
  }

  .middle-section__arrow div::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 1px;
    top: 4px;
    right: 0;
    background-color: #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }

  .middle-section__link:hover {
    transform: scale(1.05);
  }

  .bottom-section__item {
    display: flex;
    justify-content: space-between;
  }

  .bottom-section__plus,
  .bottom-section__value,
  .bottom-section__minus {
    border: none;
    margin-bottom: 50px;
  }
}

@media (max-width: 1200px) and (min-width: 900px) {
  .up-section__arrow {
    cursor: pointer;
    position: relative;
    top: 10px;
    right: 175px;
  }

  .up-section__arrow div {
    position: relative;
    top: 20px;
    width: 60px;
    height: 2px;
    background-color: #000;
    display: block;
  }

  .up-section__arrow div::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 1px;
    top: -3px;
    right: 0;
    background-color: #000;
    transform: rotate(45deg);
  }

  .up-section__arrow div::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 1px;
    top: 4px;
    right: 0;
    background-color: #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }
}

@media (max-width: 900px) and (min-width: 769px) {
  .up-section__arrow {
    cursor: pointer;
    position: relative;
    bottom: 15px;
  }

  .up-section__arrow div {
    position: relative;
    top: 20px;
    width: 20px;
    height: 2px;
    background-color: #000;
    display: block;
    margin: 0;
  }

  .up-section__arrow div::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 1px;
    top: -33px;
    right: 0;
    background-color: #000;
    transform: rotate(45deg);
    margin: 0;
  }

  .up-section__arrow div::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 1px;
    top: 4px;
    right: 0;
    background-color: #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
    margin: 0;
  }

  .middle-section__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 375px) and (max-width: 992px) {
  .header__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 461px;
    background: #fff;
  }

  .header__logo {
    margin-top: 14px;
    margin-left: 26px;
    color: #000;
  }

  .up-section {
    margin: 0;
    padding: 0;
  }

  .up-section__title {
    display: flex;
    justify-content: center;
    top: 5px;
  }

  .up-section__title::after {
    position: absolute;
    display: block;
    display: flex;
    justify-content: center;
    top: 96px;
    content: '';
    width: 14px;
    height: 14px;
    border: 3px solid #000;
    border-right-color: transparent;
    border-top-color: transparent;
    -webkit-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
  }

  .up-section__scrooll {
    bottom: -60px;
    width: 27px;
    height: 46px;
  }

  .header__lang,
  .up-section__btn,
  .up-section__scrooll {
    visibility: hidden;
  }

  .up-section__collection-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0 0;
    object-position: 0 0;
  }

  .middle-section__link {
    display: none;
  }
}

@media (min-width: 450px) and (max-width: 992px) {
  .middle-section__image {
    height: 264px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;
    padding: 0;
  }
}

@media (min-width: 375px) and (max-width: 450px) {
  .middle-section__image {
    height: 264px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    margin-top: 0;
    padding: 0;
  }
}

@media (max-width: 375px) {
  .header__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 461px;
    background: #fff;
  }

  .header__logo {
    margin-top: 14px;
    margin-left: 26px;
    color: #000;
  }

  .header__lang,
  .up-section__btn,
  .up-section__scrooll {
    display: none;
  }

  .up-section__title {
    text-align: auto;
    bottom: 20px;
  }

  .up-section__title::after {
    position: absolute;
    top: 120px;
    left: 150px;
    display: block;
    content: '';
    width: 14px;
    height: 14px;
    border: 3px solid #000;
    border-right-color: transparent;
    border-top-color: transparent;
    -webkit-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
  }

  .up-section__collection-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0 0;
    object-position: 0 0;
  }

  .middle-section__image {
    height: 264px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    margin-top: 0;
    padding: 0;
  }

  .middle-section__link {
    display: none;
  }
}

@media (min-width: 1200px) {
  .middle-section__link {
    position: absolute;
    left: 60%;
    top: 90%;
    cursor: pointer;
    text-decoration: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    color: #000;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .middle-section__link {
    position: absolute;
    left: 50%;
    top: 95%;
    cursor: pointer;
    text-decoration: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    color: #000;
  }
}

@media (min-width: 992px) {
  .middle-section__clutch {
    padding: 0 61px 0 55px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 556px;
    margin-top: 14px;
  }

  .middle-section__title {
    margin-top: 0;
    margin-bottom: 16px;
    padding-top: 44px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 41px;
  }

  .middle-section__subtitle {
    margin-top: 0;
    margin-bottom: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: .07em;
  }

  .middle-section__desription {
    margin-top: 0;
    margin-bottom: 43px;
    opacity: .5;
    line-height: 21px;
    font-size: 15px;
    font-weight: normal;
  }

  .middle-section__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 253px;
    height: 44px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .middle-section__colors-and-price {
    min-width: 360px;
    margin-top: 0;
    margin-bottom: 54px;
  }

  .middle-section__form-colors {
    width: 161px;
    height: 39px;
  }

  .form__colors-item::before {
    left: 0;
    width: 30px;
    height: 30px;
  }

  input[type="radio"]:checked + .form__colors-item::before {
    width: 38px;
    height: 38px;
    -webkit-transform: translate(-4px, -9%);
    -ms-transform: translate(-4px, -9%);
    transform: translate(-4px, -9%);
  }

  .middle-section__arrow {
    cursor: pointer;
    position: relative;
    width: 240px;
    right: -210px;
    bottom: 25px;
  }

  .middle-section__arrow div {
    position: relative;
    top: 18px;
    width: 240px;
    height: 2px;
    background-color: #000;
    display: block;
  }

  .middle-section__arrow div::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 1px;
    top: -3px;
    right: 0;
    background-color: #000;
    transform: rotate(45deg);
  }

  .middle-section__arrow div::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 1px;
    top: 4px;
    right: 0;
    background-color: #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }

  .quantity {
    display: block;
    color: #000;
    width: 100px;
    height: 44px;
    padding-top: 12px;
    margin-right: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1.5px solid #000;
  }

  .middle-section__minus,
  .middle-section__plus {
    border: none;
    cursor: pointer;
  }

  .middle-section__minus:hover {
    cursor: pointer;
    background-color: #c29585;
  }

  .middle-section__plus:hover {
    background-color: #c29585;
    cursor: pointer;
  }

  .middle-section__value {
    margin: 0 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
  }

  .form__colors-item:hover {
    transform: scale(1.2);
  }

  .middle-section__price {
    margin-right: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
  }
}

@media (min-width: 768px) {
  .middle-section {
    margin: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 114px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .middle-section__image {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    height: 100%;
    margin: 0;
  }

  .middle-section__img {
    height: 100%;
    max-width: 648px;
    margin: 0;
  }

  .middle-section__clutch {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 0;
    margin-left: 40px;
    margin-right: 0;
  }

  .middle-section__desription {
    opacity: .5;
  }
}

@media (min-width: 992px) {
  .bottom-section {
    padding: 0 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .bottom-section__item {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: -10px;
  }

  .bottom-section__btn:hover {
    background-color: #fff;
  }

  .bottom-section__plus,
  .bottom-section__minus {
    border: none;
    margin-bottom: 50px;
  }

  .bottom-section__plus:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  .bottom-section__minus:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  .bottom-section__link:hover {
    transform: scale(1.05);
  }

  .bottom-section__value {
    margin: 0 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
  }
}

@media (min-width: 410px) {
  .bottom-section__text-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 520px) {
  .bottom-section__text-block {
    margin-left: 25%;
    margin-right: 20%;
  }

  .bottom-section__image {
    padding-left: 35px;
    padding-right: 30px;
  }
}

@media (min-width: 768px) {
  .bottom-section__block {
    margin-left: 30%;
    margin-right: 15%;
  }

  .bottom-section__image {
    padding-left: 45px;
    padding-right: 40px;
  }
}

@media (min-width: 992px) {
  .bottom-section__block {
    position: absolute;
    top: 30%;
    right: 3%;
    padding: 30px 40px;
    margin-left: 50%;
    margin-right: 0;
  }

  .bottom-section__image {
    padding: 0;
    margin-right: 40%;
  }

  .bottom-section__img {
    margin: 137px 0;
  }

  .bottom-section__text-block {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .bottom-section__block {
    margin-right: 7%;
  }

  .bottom-section__image {
    margin-left: 3%;
  }
}

@media (min-width: 992px) {
  .bottom-section__title,
  .bottom-section__subtitle,
  .bottom-section__description {
    margin-left: -80px;
  }

  .bottom-section__title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 41px;
    color: #000000;
  }

  .bottom-section__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: .07em;
    color: #000;
    opacity: .5;
  }

  .bottom-section__link {
    position: absolute;
    right: 8%;
    bottom: 11%;
    padding: 0;
    width: 345px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: normal;
  }

  .bottom-section__btn {
    display: flex;
    margin-top: -12.5%;
    margin-left: 30%;
    height: 43px;
    text-align: center;
    justify-content: center;
  }

  .bottom-section__arrow div {
    top: -5px;
    left: 0;
  }
}

@media (min-width: 1200px) {
  .bottom-section__link {
    right: 10%;
    bottom: 21%;
  }

  .bottom-section__btn {
    margin-top: -12.5%;
    margin-left: 30%;
  }

  .bottom-section__arrow div {
    bottom: 7px;
    left: 240px;
  }
}

@media (min-width: 770px) and (max-width: 992px) {
  .bottom-section__title,
  .bottom-section__subtitle,
  .bottom-section__description {
    margin-left: -80px;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .bottom-section__link {
    display: inline-block;
    left: 500px;
  }

  .bottom-section__arrow div {
    display: block;
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .bottom-section__link {
    display: inline-block;
    margin-left: 300px;
  }

  .bottom-section__arrow div {
    display: block;
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .bottom-section__link {
    display: inline-block;
    margin-left: 188px;
  }

  .bottom-section__arrow {
    display: block;
    margin-top: 20px; /* end-of-line comment */
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .middle-section__btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .footer {
    display: block;
    position: relative;
    top: -6%;
  }

  .footer__whs {
    position: absolute;
    right: 75px;
    bottom: 20px;
  }

  .footer__developed {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    text-transform: uppercase;
  }

  .footer__whs-logo {
    position: absolute;
    top: -2px;
    left: 127px;
  }
}

@media (max-width: 375px) {
  .middle-section__title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #000;
  }

  .middle-section__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: .07em;
    color: #000;
    opacity: .5;
  }

  .middle-section__description {
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 13px;
    color: #000;
    opacity: .5;
  }

  .middle-section__btn {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 0;
    text-align: center;
    color: #000;
  }

  .bottom-section__title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #000;
  }

  .bottom-section__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: .07em;
    color: #000;
    opacity: .5;
  }

  .bottom-section__description {
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 13px;
    color: #000;
    opacity: 0.5;
  }

  .bottom-section__btn {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 0;
    text-align: center;
    color: #000;
  }
}
